node-linker=isolated
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
save-workspace-protocol=rolling

@richardblaha:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
